<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->

<body ontouchstart="">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v11.0" nonce="xHE870RI"></script>
    {% include nav.html %}
    {% include search.html %}

    {{ content }}

    {% include footer.html %}


    <!-- Image to hack wechat -->
    <img src="/assets/logo.ico/ms-icon-310x310.png" width="0" height="0" />
    <!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>