---
layout: default
---

<article class="post">
  <span>
    <h1>{{ page.title }}</h1>
  </span>
  <div align="right" class="date">
    <h4 style="display: inline-block;"> {{ page.categories[0] }} &nbsp; </h4>
    <!-- &nbsp;는 공백 삽입  -->
    <h6 style="display: inline-block;"> {{ page.date | date: "%Y-%m-%d" }} </h6>
  </div>
  <!-- <div class="meta">
    <span class="date" align="right">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>
  </div> -->
  <hr>

  <div id="entry" class="entry">
    {{ content | newline_to_br }}
  </div>
  <br>
  <ul class="tag">
    <strong><i class="fa fa-tag" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].tags_label | default:
      "Tags:" }} </strong>
    {% for tag in page.tags %}
    <li>
      <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
        {{ tag }}
      </a>
    </li>
    {% endfor %}
  </ul>

  <div class="pagination">
    {% if page.previous.url %}
    <span class="prev">
      <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
        < {{ page.previous.title }} </a>
    </span>
    {% endif %}

    {% if page.next.url %}
    <span class="next">

      <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
        {{ page.next.title }}
        >
      </a>

    </span>
    {% endif %}
  </div>

  <div>
    <script src="https://utteranc.es/client.js" repo="Neph3779/blog-comments" issue-term="og:title" label="댓글"
      theme="github-light" crossorigin="anonymous" async>
      </script>
  </div>

  <!-- {% include disqus.html %} -->
</article>